body{
    background-image: url("/bg/day.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* accuweather vue */
.border-right{
    border-right: solid 1px #afafaf;
}
label.bold{
    font-weight: bold;
    font-size: 25px;
}
.temperature{
    font-size: 52px;
    color: #ffe14d;
}
.main{
    padding-top: 24px;
}
.card{
    background: #2c2c2c9e;
    color: white;
}
.source{
    color: white;
    font-weight: bold;
    font-size: 16px;
    float: right;
    background-color: #f77d07;
    margin-top: 10px;
    padding: 7px;
}
.precipitation{
    font-weight: bold;
    padding-top: 7px;
    font-size: 17px;
}
.col-4{
    min-width: 300px;
}
.row.top-row{
    text-align: center;
}
.temperature-details{
    font-size: 23px;
    color: #ffe14d;
}
.daynight{
    padding-top: 20px;
}
@media  only screen and (max-width: 724px){
    .col-4{
        min-width: 90%;
    }
    .card{
        width: 100% !important;
    }
}
.container{
    padding-top: 50px;
    max-width: 1400px;
}
table{
    color: white !important;
}
.location-table tr{
    background-color: #2c2c2c59;
    cursor: pointer;
}
.location-table tr:hover{
    background-color: #2c2c2cb0;
}
.currentlocation{
    color: white;
    font-weight: bold;
}
.search-container{
    max-height: 95px;
    overflow-x: hidden;
    margin-bottom: 25px;
}